html{
    background-color: #e3e2f5; 
    background-image: url('/images/nechama-lock-dLFmwIOGNYo-unsplash.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

#gameDiv {
    font-family: 'Varela Round', sans-serif;
    border: 5px solid #6a659f; 
    border-radius: 25px;
    padding: 10px; 
    background-color: #9590c5;
    text-align: center;
    width: 500px;
    height: 570px;
    margin: auto; 
    margin-top: 3em;

}

.gameText{
    overflow: hidden;
}

#imgWrapper {
    background-image: url('/images/cartoon-rock-paper-scissors-vector-characters.png');
    background-size:contain; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 400px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 45px;
    margin-bottom: 10px;

}

.choiceButton, #resetButton {
    line-height: 30px;
    width: 120px; 
    font-family: 'Varela Round', sans-serif;
    background-color: #ebeafc; 
    text-align: center;
    border-style: hidden;
    border-radius: 5px;
    border-width: .25em;
    overflow: hidden; 
    
}

#resetButton {
    width: 220px;
}

.choiceButton:hover, #resetButton {
    background-color: #272160;   
    cursor:pointer;
    color: white;
    font-weight: bolder;
    border: 2px #383273;
}

#resetButton:hover {
    background-color: #844741;   
}

#gameInfo {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gameText {
    margin: 0; 
}

#countDownInfo { 
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#playerText, #computerText{
    color: #474184
}

.gameText, #resultText {
    color: #474184; 
}

#countDown {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 24px; 
}

#scoreboard {
    margin: 20px; 
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
}

#winText, #lossText, #tieText {
    overflow: hidden;
}
